<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clip Board</title>
</head>
<body>
    <input type="text" id="inputText" value="">
    <button id="submit">Submit</button>
    <br>
    <p>{{text}}</p>

    <script>
        var inputField = document.getElementById('inputText');
        var submitBtn = document.getElementById('submit');
        var para = document.querySelector("p");

        inputField.value="";

        submitBtn.onclick = () => {
            var inputText = inputField.value;
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({text: inputText}) 
            };
            fetch('{% url "submit" %}', options).then(response => response.text()).then(text => para.innerText=text);
        }
    </script>
</body>
</html>