{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web RTC</title>
    <link rel="stylesheet" href="{% static 'page.css' %}" />
</head>
<body>

    <input type="text" id="ice" placeholder="ID"/>
    <button id="connect">Connect</button>
    <button id="call">Call</button>
    <br>

    <input type="text" id="message" placeholder="Message"/>
    <button id="send">Send</button>
    <br>

    <video id="vdo" controls autoplay></video>

    <ul>

    </ul>
    <script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
    <script src="{% static 'page.js' %}" type="text/javascript"></script>

</body>
</html>